Support non-null DRS URIs in file descriptors

Needed for LungMAP managed access data files stored in BDCat.
Pre-requisite is a metadata schema change to support DRS URIs - to be proposed by Andrew Herbst (Broad).

@hannes-ucsc: 

> Support for `null` DRS URIs in file descriptors ("phantom files") was added in #3956. For files with a non-null DRS URIs in the file descriptor, the `/repository/files` endpoint and its `/fetch/repository/files` cousin should return a `501 Not Implemented` status code. 

> The `/index/files` response should have `hits.*.files.*.url` set to `null` for these files (just as for phantom files). Any manifest columns (fields) that would normally refer to a `/repository/files` or `/fetch/repository/files` endpoint must also be empty (`null`). We should add a `hits.*.files.*.drs_uri` to `/index/files` responses. All of the above for `/index/projects` and `hits.*.projects.*.contributedAnalyses/contributorMatrices` as well.

> I think we should implement this by renaming the `drs_path` index field to `drs_uri`. We can pretend that DRS URI paths are still DRS URIs, just relative ones. A relative DRS URI is converted to an absolute one by the service, just as before, while absolute DRS URIs are passed through."

@hannes-ucsc to move the PR along. 

Updated list of reviewers on https://github.com/HumanCellAtlas/dcp2/pull/55 and [notified straggler](https://humancellatlas.slack.com/archives/C01360XN04S/p1665711221098249) on Slack.

https://github.com/HumanCellAtlas/dcp2/pull/55 was merged.

Follow up with CCHMC for timeline for new LungMAP snapshots with these DRS URIs.

LungMAP is working on a new release with updates to the existing datasets.

Apparently, `lm4` now uses non-null DRS URIs in file descriptors but we weren't informed and didn't implement this ahead of time. We had to back out the addition of `lm4` which was slated to be promoted to `prod` today.

Commit https://github.com/DataBiosphere/azul/commit/58556e09d7f76afe187a0f266e97a4d39dc655df for #5824 disables the `null` requirement and converts it into a warning. Before we can implement this, we need schema PR https://github.com/HumanCellAtlas/metadata-schema/pull/1437 to be approved and merged.

For an example of what one of these external DRS URIs looks like see https://github.com/DataBiosphere/azul/issues/5769#issuecomment-1874573804

https://github.com/DataBiosphere/azul/commit/2d3b4e29630361a852fdba52fb09119a5f2a85b0 is the backport commit.

Assignee to work with LungMap team to restart progress on the schema PR.

This should probably be moved to backlog.
At this time, there are no plans to allow for data download via the Data Explorer of the data located in BDC.

Assignee to consider next steps.

The workaround ([58556e0](https://github.com/DataBiosphere/azul/commit/58556e09d7f76afe187a0f266e97a4d39dc655df) causes these external DRS URIs to be ignored by Azul and omitted from the index. There really isn't a point of putting them into the metadata if Azul simply ignores them. These DRS URIs are compact, e.g. `drs://dg.4503:dg.4503/6282d0a2-732a-4949-a35d-e822581a705e`. The prefix `dg.4503` appears not to be registered in identifiers.org.

In order to determine how much work we put into this, it would be good to know, what the expected user journey is for these files, according to the LungMAP project leadership. It's fine to not support direct downloads for them, but surely we should at least include their DRS URIs in the manifest.

Assignee to discuss with LungMAP leadership.

It may be some things have changed.  I am in a meeting with the LungMAP and BDC team.  One of the problematic URIs from past notes is:  `drs://dg.4503:dg.4503/8384b4da-4110-46ba-b00b-8f701bb37f35`

If I go to indentifiers.org, and update the above URL per identifiers.org to `/dg.4503:dg.4503/8384b4da-4110-46ba-b00b-8f701bb37f35`, identifiers.org returns "Your compact identifier appears to be valid." and that it is a BioData Catalyst URI (dg.4503). 

<img width="1544" src="https://api.zenhub.com/attachedFiles/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK2syQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--5e1d3e690627e61f1da412ccce0d10a26f96ba68/image.png" alt="image.png" />

However, it doesn't resolve when I ask it to resolve the file. 

<img width="1669" src="https://api.zenhub.com/attachedFiles/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK3MyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--ce5cb8a9d4d13ee772654043a7702f5476b88cb0/image.png" alt="image.png" />

The LungMAP team is asking me to confirm that the issue we are encountering is the failure to resolve the DRS URI and not the transfomration from ``drs://dg.4503:dg.4503/8384b4da-4110-46ba-b00b-8f701bb37f35` to `/dg.4503:dg.4503/8384b4da-4110-46ba-b00b-8f701bb37f35`.

@hannes-ucsc: "Before we discuss technical issue, for example, whether a DRS URI is registered or not, we need to know if we are expected to facilitate downloads for these files, i.e. direct downloads from the Data Browser and batch downloads via cURL."

Any updates, @bvizzier-ucsc?

We should not provide file download capabilities for managed access files in BDC.  Currently, these are fastq files. We should only provide file downloads for the open-access data.

As I understand it, the current behavior is correct.

Starting with https://github.com/DataBiosphere/azul/commit/58556e09d7f76afe187a0f266e97a4d39dc655df we log the DRS URI provided by LungMAP. It turns out that all 976 DRS URIs currently observed in `prod` are invalid, for example: `drs://dg.4503/44c5fa8e-c465-4187-8565-734b3ac0a32d1` which should be `drs://dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d` (a colon between namespace and accession, not a slash). The correct format is [documented by GA4GH](https://ga4gh.github.io/data-repository-service-schemas/preview/release/drs-1.1.0/docs/#_compact_identifier_based_drs_uris) and identifiers.org rejects the current format

<img width="1364" height="726" alt="Image" src="https://github.com/user-attachments/assets/4c517e90-f11b-4f35-961e-dde4049b2be0" />

and accepts the correct format

<img width="1450" height="854" alt="Image" src="https://github.com/user-attachments/assets/80de1469-2d64-4f1a-853b-a601c87edeca" />

This should be addressed first by resubmitting the corrected metadata and importing it into TDR.

Assignee to coordinate with LungMAP about fixing the DRS URIs.

Notified LungMAP in the July 15, 2025 LungMAP "Ingest" DCC group standing meeting. They are investigating. 

@bvizzier-ucsc and @hannes-ucsc, as we are implementing DRS URIs, we are running into schema problems.  Most json schema validators are showing that drs://dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d is not a valid URI. While doing a deep dive into the [official syntax of URIs and their components](https://datatracker.ietf.org/doc/html/rfc3986#section-3), and correlating with valid compact identifiers from identifiers.org, I believe the correct URI that we should provide for the drs_uri field would contain the ":" but not the "drs://". 

The presence of the "//" specifies that the next part of the URI is the [authority](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2), which continues until you reach "/" or the end of the URI. Within the authority, once you reach ":", the next part of that component would be the port, which must be a [digit](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.3). 

Because the valid compact URI "dg.4503:3bbb6a3e-fc36-40bf-846c-15e9dbe41110" does not contain an authority, it is the "[path](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3)" part of the URI, which cannot be preceded by "//" if there is no authority.

Can you please confirm this analysis and let us know if using the ":" instead of the "/" as well as removing the "drs://" to comply with schema validation of the URI field will be compliant with your system? 

First off, as I understand the standards, a compact identifier is not a URI, and therefore not a DRS URI. According to the DRS standard, given a compact identifier, one can *derive* a compact-identifier-based DRS URI from it by prepending `drs://`. So compact identifiers appear *in* URIs, but they *are not* URIs by themselves.

The authors of the DRS spec made a mistake. What they call a "compact-identifier based URI" is not a valid URI by any internationally accepted, and much more widely used standard, like the RFC you are referencing. As you noted, a colon in the authority introduces a port number, which has to be numeric. Ooops.

I [complained](https://ucsc-gi.slack.com/archives/C03TPJS54DC/p1682963650654229?thread_ts=1682084381.534569&cid=C03TPJS54DC) about this and was ignored, if not outright steamrolled.

The descriptor schema predates the specification of compact identifiers so when we originally used `uri` as the format in the schema, we didn't anticipate the DRS folks to screw up this way.

So how do we get ourselves out of this mess? It is very important that DRS URIs start with a fixed prefix, so as to make them easily recognizable, both to the human eye and to programmatic consumers. If we don't do that, we'd have to rely on complex heuristics to detect and validate DRS URIs. We do not want to go there.

I think we should extend the schema to explicitly allow compact identifier-based "URIs".

```json
    "drs_uri": {
      "description": "Data Repository Service URI pointing at this file. If this property is absent, a data file exists in the repository containing this descriptor. If this property is present and not `null`, a data file exists in another repository at the specified URI. If this property is present but `null`, the data file is not available, but will likely become available in the future, along with an updated descriptor referencing it.",
      "user_friendly": "Data Repository Service URI",
      "anyOf": [
        {
          "type": "null"
        },
        {
          "type": "string",
          "format": "uri"
        },        
        {
          "type": "string",
          "pattern": "drs://([^:/]+/)?[^:/]+:[^:/]+"
        }
      ],
      "example": "drs://drs.example.org/314159"
    }
```

We have to use `anyOf` instead of `oneOf` because the second and third alternative both match for compact identifier-based DRS "URIs" where the part after the colon is numeric. I've played with this and it seems to work. 

<img width="3444" height="1406" alt="Image" src="https://github.com/user-attachments/assets/c482bc5f-5aee-4ab8-adc2-bf01b5f538ca" />

Would you have time to open a PR against the schema repository?

I am having trouble finding the DRS URI standard. The link you provided is to a slack workspace I do not access to.

With that said, both dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d and http://identifiers.org/dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d are appear to me to be valid URIs. While these do not have the drs schema associated with them, I would suggest that the key for this field "drs_uri" would specify to both humans and programmatic consumers.

Regarding a solution, while your regex appears to work, there are issues with it that validate non-valid URIs. Additionally, I would not suggest fixing the issue by adding more "exceptions". Are there other alternatives? Have other submitters given you valid HCA schemas before with DRS URIs? How did that work given the that the string you are looking for doesn't validate as a URI?  Given the field specifies that this is for a drs_uri, can we not just give the compact version and during import or use, the drs schema is prepended?

> I am having trouble finding the DRS URI standard. 

I linked to it in my comment from July. But here it is again:

https://ga4gh.github.io/data-repository-service-schemas/preview/release/drs-1.1.0/docs/#_compact_identifier_based_drs_uris

> With that said, both dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d and http://identifiers.org/dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d are appear to me to be valid URIs.

Neither is a DRS URI, Josh. One is a compact identifier, the other is an HTTP URL. A field called `drs_uri` needs to contain, well, a DRS URI, which always starts with `drs://`.

> While these do not have the drs schema associated with them, I would suggest that the key for this field "drs_uri" would specify to both humans and programmatic consumers.

We take these DRS URIs from the descriptor and put them in the index, together with other URIs, so we need to be able to tell them apart by looking at the scheme. 

In the future, we also may want to use the `drs_uri` field of the descriptor for other use cases. By allowing bare compact identifiers in this field, we would be then be forced to use a heuristic to tell them apart. That's why I feel strongly that the value of this field starts with `drs://`.

> Regarding a solution, while your regex appears to work, there are issues with it that validate non-valid URIs. 

Can you provide an example of an invalid DRS URI that validates against my proposed schema?

> Additionally, I would not suggest fixing the issue by adding more "exceptions". Are there other alternatives? 

In light of the fact that the DRS standard contradicts much more widely accepted international standards, and calls something URI that isn't actually a URI, I don't see how this can be addressed any other way. And when you say "more exceptions", what other exceptions are you referring to? As far as I can tell, this would be the first exception.

> Have other submitters given you valid HCA schemas before with DRS URIs? 

Submitters don't give us schemas. They give us metadata that conforms to a schema. If you recall, we originally added the `drs_uri` field to the descriptor schema specifically for LungMAP. When we did so, compact identifiers hadn't even been specified yet.

> How did that work given the that the string you are looking for doesn't validate as a URI? 

I don't understand your question. How did what work? LungMAP is currently the only scenario in which the optional `drs_uri` field is even present. All other submitters so far are members of HCA, and they all provide the files in the staging area, so there is no need to reference external files via the `drs_uri` field of the descriptor.

> Given the field specifies that this is for a drs_uri, can we not just give the compact version

What you call the "compact version" still needs to begin with `drs://`. The fact that `dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d` validates against the current schema is because it thinks `dg.4503` is the scheme. 

> and during import or use, the drs schema is prepended?

How is that a better solution to what I propose? Is it because it requires less work of you? 

What I propose is a clean solution because it makes obvious the mistake by the authors of the DRS standard, by carving out an exception in the schema that accommodates the mistake.

Respectfully, Josh, you come across somewhat irritated. I didn't create this mess. I want to fix it. I already spent some time towards a solution by trying out the proposed schema. If you don't have time to contribute, that's fine, I can create the PR.

I've amended my proposal by explicitly requiring the `drs://` prefix in the second alternative of the `anyOf`, and making sure that the regex in the third alternative is anchored at both ends:

<img width="3434" height="1366" alt="Image" src="https://github.com/user-attachments/assets/273d5b4e-5c85-42d2-8795-2ca9b088b28b" />

Hannes,

Thanks for the links to the DRS URIs. I do wish they headed your warnings on making a valid URI. I even see contradictions in what they say, stating that IDs in hostname-based DRS URIs contain uppercase/lowercase letters, decimal digits, period, hyphen, underscore, and tilda [A-Za-z0-9.-_~], but then they say it can contain other characters, but must be encoded. After diving deep into their documentation, here is what I have come up with for regex.

### Hostname-based DRS URIs
These must follow the format of `drs://<hostname>/<id>,` where the hostname is a hostname, and the id must be `[A-Za-z0-9.-_~]`. As such, I have this REGEX
`drs:\/\/(?=.{1,253}$)(([a-zA-Z0-9]{1,63}|[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9])\\.)+([A-Za-z]{1,63}|[A-Za-z][A-Za-z0-9-]{1,61}[A-Za-z0-9])\/[A-Za-z0-9.-_~]+`

Note, if you check this in a regex checker, you will want to remove one of the \ in \\.

Additionally, for this regex, I am ignoring the statement "DRS IDs can contain other characters, but they MUST be encoded into valid DRS IDs whenever they are used in API calls. This is because non-encoded IDs may interfere with the interpretation of the objects/{id}/access endpoint. To overcome this limitation use percent-encoding of the ID, see RFC 3986 § 2.4". This is contradictory to the initial statement that DRS URIs contain `[A-Za-z0-9.-_~]`.

### Compact Identifier-based DRS URIs
These use the format: `drs://[provider_code/]namespace:accession` where:
provider_code:  `[a-z0-9._]+`
namespace:      `[a-z0-9._]+`
accession:      `.+`

The optional provider code, along with the namespace makes the prefix, where if the provider code is specified, there must be a / between it and the namespace. As such, the prefix regex would be `([a-z0-9._]+\/)?[a-z0-9._]+`

So the full regex for a Compact Identifier-based DRS URI would be
`drs:\/\/([a-z0-9.-]+\/)?[a-z0-9.-]+:.+`

### Single REGEX for Hostname-based and Compact Identifier-base DRS URIs
Combining both of these would give the following:
`drs:\/\/((?=.{1,253}$)(([a-zA-Z0-9]{1,63}|[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9])\\.)+([A-Za-z]{1,63}|[A-Za-z][A-Za-z0-9-]{1,61}[A-Za-z0-9])\/[A-Za-z0-9.-_~]+|([a-z0-9.-]+\/)?[a-z0-9.-]+:.+)`

I am unsure if your system supports hostname-based URIs, so that might need to be taken into consideration.

### Schema update
Updating your schema with the above regex pattern will still allow cases of valid URIs but invalid DRS URIs to validated and submitted. As such, I would suggest a major change (v3.0.0) of the file_descriptor schema that removes the uri format and instead uses the pattern for valid DRS URIs. If the field remains "drs_uri", I believe the single regex for both hostname-based and compact_identifier should be allowed. If only compact Identifier-Based DRS URIs can work for your system, I would suggest renaming the field as such, and using the appropriate regex.

What are your thoughts on this proposed schema update?





Thank you for reading the DRS spec and for agreeing that a schema update is needed.

I worry though that we're now putting too much emphasis on what the authors of the DRS spec wrote. We know that is unsound, so I don't want to rely on it too much. At a very high level, we know that the intent was for DRS URIs to be URIs in the commonly accepted interpretation, otherwise they wouldn't call it that. So I think it is better to rely on JSON Schema's built-in `uri` format, additionally requiring that the scheme be 'drs'. To accommodate the DRS author's mistake with respect to compact identifier-based URIs, my proposal carves out a very narrow exception. Before we adopt a more complicated solution, that's heavily based on an unreliable standard, can you tell me how/why the simpler solution wouldn't work in this case, or what's deficient about it?

Here's the relevant part of the schema:

```json
   "drs_uri": {
        "description": "Data Repository Service URI pointing at this file. If this property is absent, a data file exists in the repository containing this descriptor. If this property is present and not `null`, a data file exists in another repository at the specified URI. If this property is present but `null`, the data file is not available, but will likely become available in the future, along with an updated descriptor referencing it.",
        "user_friendly": "Data Repository Service URI",
        "anyOf": [
            {
                "type": "null"
            },
            {
                "type": "string",
                "format": "uri",
                "pattern": "^drs://"
            },
            {
                "type": "string",
                "pattern": "^drs://([^:/]+/)?[^:/]+:[^:/]+$"
            }
        ],
        "example": "drs://drs.example.org/314159"
    }
```

Assignee to coordinate meeting requested by LungMAP.

Wondering about https://github.com/HumanCellAtlas/metadata-schema/pull/1632 impact on this issue.

@hannes-ucsc: "Yes, it should fix the issue LungMAP is currently running into (compact identifier-based DRS URIs are rejected by the schema)"

Assignee to followup on Joshua's comments on the schema PR.

@hannes-ucsc,

I am copying the following from the HCA PR as you have stated that it should be addressed in this thread. 

> I am using [http://identifiers.org/{compact_drs_uri}](http://identifiers.org/%7Bcompact_drs_uri%7D) to resolve the DRS URI. So, given drs://dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d, I remove the first 6 characters and get the compact DRS URI, dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d. Using this (http://identifiers.org/dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d), I can resolve appropriately. However, if I use a / instead of a : in the compact DRS URI (http://identifiers.org/dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d), I still resolve to the DRS URI to the same object. Can you let me know if there is a different method that I should use to resolve the DRS URIs so I can validate they are going to a valid object?

> I am using [http://identifiers.org/{compact_drs_uri}](http://identifiers.org/%7Bcompact_drs_uri%7D) to resolve the DRS URI. 

Just to be clear, `dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d` is a compact identifier. It is not a DRS URI, not even a *compact identifier-based DRS URI*. You appear to use the terms *compact identifier-based DRS URI* and *compact identifier* somewhat interchangeably. I think I did point out the distinction on a prior occasion, probably even in this this very issue. We need to use the correct terminology, otherwise we risk never getting to any meaningful agreement or resolution.

> So, given drs://dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d, I remove the first 6 characters and get the compact DRS URI, dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d. 

In a perfect world, you would have to *parse* the URI so that, for example, any percent-encoded characters are decoded. Simply stripping a prefix is not the same as properly parsing a URI. In this case, however, and because compact identifier-based URIs (what the DRS spec calls them) are not valid URIs according to the RFC, you cannot use an off-the-shelf URI parsing library to do so. They correctly refuse to parse the "URI" because of the invalid port number. My [schema PR](https://github.com/HumanCellAtlas/metadata-schema/pull/1632/files#diff-7ad16bdcb69931b4e5ef9dcdc9e4dadef0e8cbf960d040e5edfd572ac0b024b8R114) disallows percent-encoded characters in the authority part, but it does allow them in the local part. The DRS spec does not speak about this, so we can only guess. My best guess is that we URL-decode the local part.

> Using this (http://identifiers.org/dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d), I can resolve appropriately. However, if I use a / instead of a : in the compact DRS URI (http://identifiers.org/dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d), I still resolve to the DRS URI to the same object. Can you let me know if there is a different method that I should use to resolve the DRS URIs so I can validate they are going to a valid object?

I don't know why identifiers.org lets you use both `/` and `%` interchangeably. I am not aware of any official documentation of that quirk. It seems dangerous because a slash is used to separate the optional provide code from the namespace within the prefix. This [documentation page](https://docs.identifiers.org/pages/identification_scheme.html) says to use a colon so I would not use a slash between the prefix and the local part when forming the HTTP URL in order to resolve a given compact identifier.

This is what I would do:


```python
import re

from furl import furl  # https://pypi.org/project/furl/
import urllib3


def resolve_drs_uri(uri):
    """
    Given the DRS URI of a file, return an HTTPS URL of the file object.
    Supports both host-based and compact identifier-based DRS URIs. When making
    a request to the returned URL, clients must follow a redirect in the
    response.

    A straight-forward host-based DRS URI. Note the normalized server name:

    >>> resolve_drs_uri('drs://SERVER/ID')
    'https://server/ga4gh/drs/v1/objects/ID'

    A host-based URI with a percent-encoded question mark in the URL:

    >>> resolve_drs_uri('drs://SERVER/ID1%3fID2')
    'https://server/ga4gh/drs/v1/objects/ID1%3FID2'

    A host-based URI with a redundantly percent-encoded character in the ID:

    >>> resolve_drs_uri('drs://SERVER/I%44')
    'https://server/ga4gh/drs/v1/objects/ID'

    Resolution of a simple compact identifier-based DRS URI yields a URL to
    identifiers.org. Assuming that the ID is valid, requesting that URL will
    very likely result in a redirect to another URL pointing at a DRS server.
    Specifically, the URL will be that of a JSON object describing several
    access methods to the various physical locations of the file:

    >>> resolve_drs_uri('drs://NS:LP')
    'https://identifiers.org/NS:LP'

    A compact identifier-based DRS URI whose prefix contains a provider code.
    Note that this could also be interpreted as a host-based DRS URI at server
    'PC' and ID 'NS:LP'.

    >>> resolve_drs_uri('drs://PC/NS:LP')
    'https://identifiers.org/PC/NS:LP'

    A more insidious version of the above. We still treat this as a compact
    identifier-based DRS URI:

    >>> resolve_drs_uri('drs://pc.edu/NS:LP')
    'https://identifiers.org/pc.edu/NS:LP'

    However, as soon as the colon is removed from the local part, we start
    treating the URI as host-based:

    >>> resolve_drs_uri('drs://pc.edu/NSLP')
    'https://pc.edu/ga4gh/drs/v1/objects/NSLP'

    A compact identifier-based DRS URI whose local part has a colon:

    >>> resolve_drs_uri('drs://NS:LP1:LP2')
    'https://identifiers.org/NS:LP1:LP2'

    A more complicated compact identifier-based DRS URI with provider code and
    a percent-encoded question mark. The question mark has to be encoded,
    otherwise identifiers.org would discard it, or reject the request:

    >>> resolve_drs_uri('drs://PC/NS1.NS2:LP1%3fLP2')
    'https://identifiers.org/PC/NS1.NS2:LP1%3FLP2'
    """
    # Straight from https://github.com/HumanCellAtlas/metadata-schema/pull/1632
    compact_drs_uri_re = re.compile(r'^drs://([A-Za-z0-9._]+/)?[A-Za-z0-9._]+:.+$')
    if compact_drs_uri_re.match(uri) is None:
        uri = furl(uri)
        assert uri.scheme == 'drs'
        assert (uri.query, uri.fragment) == ('', ''), (uri.query, uri.fragment)
        assert uri.path.isabsolute
        url = furl(scheme='https',
                   netloc=uri.netloc,
                   path=['ga4gh', 'drs', 'v1', 'objects', *uri.path.segments])
    else:
        url = furl(scheme='https',
                   netloc='identifiers.org',
                   path=uri[6:])  # strip drs://
    return str(url)


if __name__ == '__main__':
    drs_uri = 'drs://dg.4503:44c5fa8e-c465-4187-8565-734b3ac0a32d'
    drs_object_url = resolve_drs_uri(drs_uri)
    pm = urllib3.PoolManager()
    for redirect in False, True:
        print()
        response = pm.request('GET', drs_object_url, redirect=redirect)
        print(response.status)
        for k, v in response.headers.items():
            print(f'{k}: {v}')
        print()
        print(response.data.decode())
```

Code much like this will sooo be added to Azul, as part of the resolution of 
this issue.

Thank you for the code. It helps to have very similar logic in our validation scripts that you are using. I have modified it slightly to remove the non-redirect GET request. Also, I have added in a loop if it asks to retry after X seconds and to assert a 200 status code per the [official documentation](https://ga4gh.github.io/data-repository-service-schemas/preview/release/drs-1.1.0/docs/#_responses_2). The code seems to work well in my version of the HCA Import Validation code. I will look at submitting a PR for the official version.



The schema [PR](https://github.com/HumanCellAtlas/metadata-schema/pull/1632) has been merged and deployed: https://schema.humancellatlas.org/system/2.2.0/file_descriptor

I am unable to demo this, due to the absence of snapshots with these DRS URIs in either `dev` or `prod`. I have not received a response to my email requesting a test snapshot exercising these URIs in TDR dev. I'm afraid we'll find out whether this works once snapshots are added to `prod`. We'll deal with the fallout then.

@hannes-ucsc, the merge of the schema changed happened at the beginning of my extended Thanksgiving holiday. As such, we were not able to do the work needed on our side until early last week. On Dec 1, we stated that we were uploading the data to the bucket we have agreed to so it can be ingested into TDR. On that same day, you asked for the snapshot to be made available in TDR `dev`.  TDR did not finish their validation and snapshot process until Dec 4th. On the 5th, I provided the information with a specific snapshot that could be used. With that said, the CCHMC DCC has not ability to add snapshots to TDR Dev. 

Please reach out if there is something specific that CCHMC DCC can do to help facilitate  the resolution of this work.

The ball is in the Broad Institute's court. As of now, they have not engaged with my and Ben's emailed requests. You are on that email thread. Once they do, I'm sure that *if* there is anything they need you to do, they would let you know, on that very thread.

Partial PR for blocker #7617, landed.

@hannes-ucsc: "The Broad Institute created a snapshot in TDR-dev for one of the lm10 projects. The external DRS URIs in that snapshot break the `/repository/files` endpoint (#7660) and in turn the IT."

This is done when the remaining blocker #7617 is promoted to prod.