Cannot resume curl manifest file downloads

`curl` will fail when attempting to resume a previously completed file download from Azul.

## Reproduction

(All `curl` options used here are the same as given by Azul for a `curl` manifest download, with the exception of `-v` added here for debugging)

- Step 1: download a file successfully

```
curl -v --fail-early --continue-at - --retry 15 --retry-delay 10 --create-dirs --compressed --location --globoff --fail --write-out "Downloading to: %{filename_effective}\n\n" --output "9ea02f60-ba2a-4b78-a9fc-f86cf954082b/SRR6598472_1.fastq.gz" "https://service.azul.data.humancellatlas.org/repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56?catalog=dcp46&version=2019-08-03T03%3A23%3A31.151555Z"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0* Host service.azul.data.humancellatlas.org:443 was resolved.
* IPv6: (none)
* IPv4: 18.155.202.98, 18.155.202.76, 18.155.202.89, 18.155.202.127
*   Trying 18.155.202.98:443...
* Connected to service.azul.data.humancellatlas.org (18.155.202.98) port 443
* ALPN: curl offers h2,http/1.1
* (304) (OUT), TLS handshake, Client hello (1):
} [341 bytes data]
*  CAfile: /etc/ssl/cert.pem
*  CApath: none
* (304) (IN), TLS handshake, Server hello (2):
{ [122 bytes data]
* (304) (IN), TLS handshake, Unknown (8):
{ [19 bytes data]
* (304) (IN), TLS handshake, Certificate (11):
{ [4997 bytes data]
* (304) (IN), TLS handshake, CERT verify (15):
{ [264 bytes data]
* (304) (IN), TLS handshake, Finished (20):
{ [36 bytes data]
* (304) (OUT), TLS handshake, Finished (20):
} [36 bytes data]
* SSL connection using TLSv1.3 / AEAD-AES128-GCM-SHA256 / [blank] / UNDEF
* ALPN: server accepted h2
* Server certificate:
*  subject: CN=service.azul.data.humancellatlas.org
*  start date: Jul 16 00:00:00 2024 GMT
*  expire date: Aug 12 23:59:59 2025 GMT
*  subjectAltName: host "service.azul.data.humancellatlas.org" matched cert's "service.azul.data.humancellatlas.org"
*  issuer: C=US; O=Amazon; CN=Amazon RSA 2048 M02
*  SSL certificate verify ok.
* using HTTP/2
* [HTTP/2] [1] OPENED stream for https://service.azul.data.humancellatlas.org/repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56?catalog=dcp46&version=2019-08-03T03%3A23%3A31.151555Z
* [HTTP/2] [1] [:method: GET]
* [HTTP/2] [1] [:scheme: https]
* [HTTP/2] [1] [:authority: service.azul.data.humancellatlas.org]
* [HTTP/2] [1] [:path: /repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56?catalog=dcp46&version=2019-08-03T03%3A23%3A31.151555Z]
* [HTTP/2] [1] [user-agent: curl/8.7.1]
* [HTTP/2] [1] [accept: */*]
* [HTTP/2] [1] [accept-encoding: deflate, gzip]
> GET /repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56?catalog=dcp46&version=2019-08-03T03%3A23%3A31.151555Z HTTP/2
> Host: service.azul.data.humancellatlas.org
> User-Agent: curl/8.7.1
> Accept: */*
> Accept-Encoding: deflate, gzip
>
* Request completely sent off
  0     0    0     0    0     0      0      0 --:--:--  0:00:04 --:--:--     0< HTTP/2 302
< content-type: application/json
< content-length: 0
< location: https://storage.googleapis.com/datarepo-6c732a77-bucket/b50ae138-2add-4ad7-bd51-9c61e6be7124/4bdb10bb-6d2c-4a15-93b4-5dec797c6fce/SRR6598472_1.fastq.gz?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=datarepo-jade-api%40terra-datarepo-production.iam.gserviceaccount.com%2F20250313%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250313T193539Z&X-Goog-Expires=900&X-Goog-SignedHeaders=host&requestedBy=azul-ucsc-0-public-prod%40platform-hca-prod.iam.gserviceaccount.com&userProject=datarepo-4f8a62b5&X-Goog-Signature=44f3add4<REDACTED>
< date: Thu, 13 Mar 2025 19:35:39 GMT
< x-amzn-trace-id: Root=1-67d33386-29c0973e1bbb631177b165cf;Parent=64cf47f41567360a;Sampled=0;Lineage=1:2808a99a:0
< x-amzn-requestid: c5e15557-7ac6-43a1-93b6-7a5c8f5879d4
< referrer-policy: strict-origin-when-cross-origin
< x-xss-protection: 1; mode=block
< access-control-allow-origin: *
< strict-transport-security: max-age=63072000; includeSubDomains; preload
< access-control-allow-headers: Authorization,Content-Type,X-Amz-Date,X-Amz-Security-Token,X-Api-Key
< x-frame-options: DENY
< content-security-policy: default-src 'self';img-src 'self' data:;script-src 'self';style-src 'self';frame-ancestors 'none'
< x-amz-apigw-id: HYT9FGiBoAMENiw=
< cache-control: no-store
< x-content-type-options: nosniff
< x-cache: Miss from cloudfront
< via: 1.1 922f380ce54182257be92d6c0111acb4.cloudfront.net (CloudFront)
< x-amz-cf-pop: SFO53-P2
< x-amz-cf-id: KT4Z9bP9cNTZ03aGlymAw624zOEpeUKqmxtIBhXGRCKU4q8lFj9wvg==
<
* Ignoring the response-body
  0     0    0     0    0     0      0      0 --:--:--  0:00:05 --:--:--     0
* Connection #0 to host service.azul.data.humancellatlas.org left intact
* Issue another request to this URL: 'https://storage.googleapis.com/datarepo-6c732a77-bucket/b50ae138-2add-4ad7-bd51-9c61e6be7124/4bdb10bb-6d2c-4a15-93b4-5dec797c6fce/SRR6598472_1.fastq.gz?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=datarepo-jade-api%40terra-datarepo-production.iam.gserviceaccount.com%2F20250313%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250313T193539Z&X-Goog-Expires=900&X-Goog-SignedHeaders=host&requestedBy=azul-ucsc-0-public-prod%40platform-hca-prod.iam.gserviceaccount.com&userProject=datarepo-4f8a62b5&X-Goog-Signature=44f3add4<REDACTED>'
* Host storage.googleapis.com:443 was resolved.
* IPv6: (none)
* IPv4: 142.250.72.219, 142.251.32.59, 142.250.191.59, 142.251.46.251, 172.217.12.123, 142.250.189.251, 172.217.164.123, 142.250.189.219, 142.250.191.91, 142.251.46.187, 142.251.46.219, 142.250.189.187, 142.251.214.155, 142.250.188.27
*   Trying 142.250.72.219:443...
* Connected to storage.googleapis.com (142.250.72.219) port 443
* ALPN: curl offers h2,http/1.1
* (304) (OUT), TLS handshake, Client hello (1):
} [327 bytes data]
* (304) (IN), TLS handshake, Server hello (2):
{ [122 bytes data]
* (304) (IN), TLS handshake, Unknown (8):
{ [15 bytes data]
* (304) (IN), TLS handshake, Certificate (11):
{ [3831 bytes data]
* (304) (IN), TLS handshake, CERT verify (15):
{ [79 bytes data]
* (304) (IN), TLS handshake, Finished (20):
{ [52 bytes data]
* (304) (OUT), TLS handshake, Finished (20):
} [52 bytes data]
* SSL connection using TLSv1.3 / AEAD-AES256-GCM-SHA384 / [blank] / UNDEF
* ALPN: server accepted h2
* Server certificate:
*  subject: CN=storage.googleapis.com
*  start date: Feb 26 15:36:56 2025 GMT
*  expire date: May 21 15:36:55 2025 GMT
*  subjectAltName: host "storage.googleapis.com" matched cert's "storage.googleapis.com"
*  issuer: C=US; O=Google Trust Services; CN=WR2
*  SSL certificate verify ok.
* using HTTP/2
* [HTTP/2] [1] OPENED stream for https://storage.googleapis.com/datarepo-6c732a77-bucket/b50ae138-2add-4ad7-bd51-9c61e6be7124/4bdb10bb-6d2c-4a15-93b4-5dec797c6fce/SRR6598472_1.fastq.gz?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=datarepo-jade-api%40terra-datarepo-production.iam.gserviceaccount.com%2F20250313%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250313T193539Z&X-Goog-Expires=900&X-Goog-SignedHeaders=host&requestedBy=azul-ucsc-0-public-prod%40platform-hca-prod.iam.gserviceaccount.com&userProject=datarepo-4f8a62b5&X-Goog-Signature=44f3add4<REDACTED>
* [HTTP/2] [1] [:method: GET]
* [HTTP/2] [1] [:scheme: https]
* [HTTP/2] [1] [:authority: storage.googleapis.com]
* [HTTP/2] [1] [:path: /datarepo-6c732a77-bucket/b50ae138-2add-4ad7-bd51-9c61e6be7124/4bdb10bb-6d2c-4a15-93b4-5dec797c6fce/SRR6598472_1.fastq.gz?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=datarepo-jade-api%40terra-datarepo-production.iam.gserviceaccount.com%2F20250313%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250313T193539Z&X-Goog-Expires=900&X-Goog-SignedHeaders=host&requestedBy=azul-ucsc-0-public-prod%40platform-hca-prod.iam.gserviceaccount.com&userProject=datarepo-4f8a62b5&X-Goog-Signature=44f3add4<REDACTED>]
* [HTTP/2] [1] [user-agent: curl/8.7.1]
* [HTTP/2] [1] [accept: */*]
* [HTTP/2] [1] [accept-encoding: deflate, gzip]
> GET /datarepo-6c732a77-bucket/b50ae138-2add-4ad7-bd51-9c61e6be7124/4bdb10bb-6d2c-4a15-93b4-5dec797c6fce/SRR6598472_1.fastq.gz?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=datarepo-jade-api%40terra-datarepo-production.iam.gserviceaccount.com%2F20250313%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250313T193539Z&X-Goog-Expires=900&X-Goog-SignedHeaders=host&requestedBy=azul-ucsc-0-public-prod%40platform-hca-prod.iam.gserviceaccount.com&userProject=datarepo-4f8a62b5&X-Goog-Signature=44f3add4<REDACTED> HTTP/2
> Host: storage.googleapis.com
> User-Agent: curl/8.7.1
> Accept: */*
> Accept-Encoding: deflate, gzip
>
* Request completely sent off
< HTTP/2 200
< x-guploader-uploadid: AKDAyIscILPg7W54PdbQ7xF0-JlxhvCRgeNbZuSU6L6KkNPjK0KIgkySjGnXfvbEyL1gQnlRVLPRRc0
< last-modified: Wed, 19 Jan 2022 23:56:09 GMT
< etag: "6740a0e4e4a28abff8ff88ddf14bf808"
< x-goog-generation: 1642636569155117
< x-goog-metageneration: 20
< x-goog-stored-content-encoding: identity
< x-goog-stored-content-length: 816612
< content-type: application/gzip; dcp-type=data
< x-goog-hash: crc32c=FdiFEA==
< x-goog-hash: md5=Z0Cg5OSiir/4/4jd8Uv4CA==
< x-goog-storage-class: NEARLINE
< accept-ranges: bytes
< content-length: 816612
< cache-control: no-cache, no-store, max-age=0, must-revalidate
< pragma: no-cache
< expires: Mon, 01 Jan 1990 00:00:00 GMT
< date: Thu, 13 Mar 2025 19:35:39 GMT
< server: UploadServer
< alt-svc: h3=":443"; ma=2592000,h3-29=":443"; ma=2592000
<
{ [1369 bytes data]
100  797k  100  797k    0     0   134k      0  0:00:05  0:00:05 --:--:-- 1853k
* Connection #1 to host storage.googleapis.com left intact
Downloading to: 9ea02f60-ba2a-4b78-a9fc-f86cf954082b/SRR6598472_1.fastq.gz
```

- Step 2: Retry download

```
$ curl -v --fail-early --continue-at - --retry 15 --retry-delay 10 --create-dirs --compressed --location --globoff --fail --write-out "Downloading to: %{filename_effective}\n\n" --output "9ea02f60-ba2a-4b78-a9fc-f86cf954082b/SRR6598472_1.fastq.gz" "https://service.azul.data.humancellatlas.org/repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56?catalog=dcp46&version=2019-08-03T03%3A23%3A31.151555Z"
** Resuming transfer from byte position 816612
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0* Host service.azul.data.humancellatlas.org:443 was resolved.
* IPv6: (none)
* IPv4: 18.155.202.98, 18.155.202.76, 18.155.202.89, 18.155.202.127
*   Trying 18.155.202.98:443...
* Connected to service.azul.data.humancellatlas.org (18.155.202.98) port 443
* ALPN: curl offers h2,http/1.1
* (304) (OUT), TLS handshake, Client hello (1):
} [341 bytes data]
*  CAfile: /etc/ssl/cert.pem
*  CApath: none
* (304) (IN), TLS handshake, Server hello (2):
{ [122 bytes data]
* (304) (IN), TLS handshake, Unknown (8):
{ [19 bytes data]
* (304) (IN), TLS handshake, Certificate (11):
{ [4997 bytes data]
* (304) (IN), TLS handshake, CERT verify (15):
{ [264 bytes data]
* (304) (IN), TLS handshake, Finished (20):
{ [36 bytes data]
* (304) (OUT), TLS handshake, Finished (20):
} [36 bytes data]
* SSL connection using TLSv1.3 / AEAD-AES128-GCM-SHA256 / [blank] / UNDEF
* ALPN: server accepted h2
* Server certificate:
*  subject: CN=service.azul.data.humancellatlas.org
*  start date: Jul 16 00:00:00 2024 GMT
*  expire date: Aug 12 23:59:59 2025 GMT
*  subjectAltName: host "service.azul.data.humancellatlas.org" matched cert's "service.azul.data.humancellatlas.org"
*  issuer: C=US; O=Amazon; CN=Amazon RSA 2048 M02
*  SSL certificate verify ok.
* using HTTP/2
* [HTTP/2] [1] OPENED stream for https://service.azul.data.humancellatlas.org/repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56?catalog=dcp46&version=2019-08-03T03%3A23%3A31.151555Z
* [HTTP/2] [1] [:method: GET]
* [HTTP/2] [1] [:scheme: https]
* [HTTP/2] [1] [:authority: service.azul.data.humancellatlas.org]
* [HTTP/2] [1] [:path: /repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56?catalog=dcp46&version=2019-08-03T03%3A23%3A31.151555Z]
* [HTTP/2] [1] [range: bytes=816612-]
* [HTTP/2] [1] [user-agent: curl/8.7.1]
* [HTTP/2] [1] [accept: */*]
* [HTTP/2] [1] [accept-encoding: deflate, gzip]
> GET /repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56?catalog=dcp46&version=2019-08-03T03%3A23%3A31.151555Z HTTP/2
> Host: service.azul.data.humancellatlas.org
> Range: bytes=816612-
> User-Agent: curl/8.7.1
> Accept: */*
> Accept-Encoding: deflate, gzip
>
* Request completely sent off
< HTTP/2 206
< content-type: application/json
< content-length: 0
< date: Thu, 13 Mar 2025 19:35:46 GMT
< x-amzn-trace-id: Root=1-67d33392-67e054f45811947e25ce2007;Parent=7d37d8f932de0eb6;Sampled=0;Lineage=1:2808a99a:0
< x-amzn-requestid: e4ff9e5f-bda9-4c77-8bdb-bfc1392c3a80
< referrer-policy: strict-origin-when-cross-origin
< x-xss-protection: 1; mode=block
< access-control-allow-origin: *
< strict-transport-security: max-age=63072000; includeSubDomains; preload
< access-control-allow-headers: Authorization,Content-Type,X-Amz-Date,X-Amz-Security-Token,X-Api-Key
< x-amzn-remapped-content-length: 0
< x-frame-options: DENY
< content-security-policy: default-src 'self';img-src 'self' data:;script-src 'self';style-src 'self';frame-ancestors 'none'
< x-amz-apigw-id: HYT-4FBjoAMETvg=
< cache-control: no-store
< x-content-type-options: nosniff
< x-cache: Miss from cloudfront
< via: 1.1 8effee3aa40a71b9ac0a963e0f02b7e0.cloudfront.net (CloudFront)
< x-amz-cf-pop: SFO53-P2
< x-amz-cf-id: Zt28zlKDDhHSfByboc5kuvt0IUhNJxK9_DYRfLolPmPPR5x5py3soA==
<
* HTTP server doesn't seem to support byte ranges. Cannot resume.
* process_pending_input: nghttp2_session_mem_recv() returned -902:The user callback function failed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
* Connection #0 to host service.azul.data.humancellatlas.org left intact
curl: (56) HTTP server doesn't seem to support byte ranges. Cannot resume.
Downloading to: 9ea02f60-ba2a-4b78-a9fc-f86cf954082b/SRR6598472_1.fastq.gz
```

- Note: The failure does not occur when resuming a partial file download, only when retrying a completed file download.

```
# Partially download a file, CTRL-C before file download completes

$ curl --fail-early --continue-at - --retry 15 --retry-delay 10 --create-dirs --compressed --location --globoff --fail --write-out "Downloading to: %{filename_effective}\n\n" --output "e598b982-61d4-4635-892a-68660e71bbfc/wt_64_CTCTCTAC-CTCTCTAT_L002_R2_complete_filtered.fastq.gz" "https://service.azul.data.humancellatlas.org/repository/files/a87500a2-044f-4e19-aa6b-eca3b79445ce?catalog=dcp46&version=2021-04-23T19%3A20%3A51.309000Z"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:03 --:--:--     0
 42  261M   42  111M    0     0  14.6M      0  0:00:17  0:00:07  0:00:10 37.2M^C

# Rerun command to complete file download

$ curl --fail-early --continue-at - --retry 15 --retry-delay 10 --create-dirs --compressed --location --globoff --fail --write-out "Downloading o: %{filename_effective}\n\n" --output "e598b982-61d4-4635-892a-68660e71bbfc/wt_64_CTCTCTAC-CTCTCTAT_L002_R2_complete_filtered.fastq.gz" "https://service.azul.data.humancellatlas.org/repository/files/a87500a2-044f-4e19-aa6b-eca3b79445ce?catalog=dcp46&version=2021-04-23T19%3A20%3A51.309000Z"
** Resuming transfer from byte position 125169664
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0
100  141M  100  141M    0     0  20.7M      0  0:00:06  0:00:06 --:--:-- 35.6M
Downloading to: e598b982-61d4-4635-892a-68660e71bbfc/wt_64_CTCTCTAC-CTCTCTAT_L002_R2_complete_filtered.fastq.gz

# Rerun command to see failure

$ curl --fail-early --continue-at - --retry 15 --retry-delay 10 --create-dirs --compressed --location --globoff --fail --write-out "Downloading to: %{filename_effective}\n\n" --output "e598b982-61d4-4635-892a-68660e71bbfc/wt_64_CTCTCTAC-CTCTCTAT_L002_R2_complete_filtered.fastq.gz" "https://service.azul.data.humancellatlas.org/repository/files/a87500a2-044f-4e19-aa6b-eca3b79445ce?catalog=dcp46&version=2021-04-23T19%3A20%3A51.309000Z"
** Resuming transfer from byte position 273986490
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (56) HTTP server doesn't seem to support byte ranges. Cannot resume.
Downloading to: e598b982-61d4-4635-892a-68660e71bbfc/wt_64_CTCTCTAC-CTCTCTAT_L002_R2_complete_filtered.fastq.gz
```

## API Gateway logs

Log from step 1:

```
[
    {
        "@timestamp": "2025-03-13 19:35:34.569",
        "@message": {
            "accountId": "542754589326",
            "apiId": "ccp122p730",
            "domainName": "service.azul.data.humancellatlas.org",
            "domainPrefix": "service",
            "error_message": "-",
            "error_responseType": "-",
            "extendedRequestId": "HYT9FGiBoAMENiw=",
            "httpMethod": "GET",
            "identity_sourceIp": "73.189.51.68",
            "identity_userAgent": "curl/8.7.1",
            "integration_error": "-",
            "integration_integrationStatus": "200",
            "integration_latency": "4922",
            "integration_requestId": "838d380d-4e28-48f6-97e1-ddc5c4dab8d9",
            "integration_status": "302",
            "integrationStatus": "200",
            "path": "/repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56",
            "protocol": "HTTP/1.1",
            "requestId": "c5e15557-7ac6-43a1-93b6-7a5c8f5879d4",
            "requestTime": "13/Mar/2025:19:35:34 +0000",
            "requestTimeEpoch": "1741894534569",
            "responseLatency": "4932",
            "responseLength": "0",
            "stage": "prod",
            "status": "302"
        }
    },
```

Log from step 2:

```
    {
        "@timestamp": "2025-03-13 19:35:46.095",
        "@message": {
            "accountId": "542754589326",
            "apiId": "ccp122p730",
            "domainName": "service.azul.data.humancellatlas.org",
            "domainPrefix": "service",
            "error_message": "-",
            "error_responseType": "-",
            "extendedRequestId": "HYT-4FBjoAMETvg=",
            "httpMethod": "GET",
            "identity_sourceIp": "73.189.51.68",
            "identity_userAgent": "curl/8.7.1",
            "integration_error": "-",
            "integration_integrationStatus": "200",
            "integration_latency": "46",
            "integration_requestId": "6a13185e-e47a-4df7-8803-323d9abeab75",
            "integration_status": "206",
            "integrationStatus": "200",
            "path": "/repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56",
            "protocol": "HTTP/1.1",
            "requestId": "e4ff9e5f-bda9-4c77-8bdb-bfc1392c3a80",
            "requestTime": "13/Mar/2025:19:35:46 +0000",
            "requestTimeEpoch": "1741894546095",
            "responseLatency": "55",
            "responseLength": "0",
            "stage": "prod",
            "status": "206"
        }
    }
]
```

## AWS Lambda logs

Logs from step 1:

**CloudWatch Logs Insights**    
region: us-east-1    
log-group-names: /aws/lambda/azul-service-prod    
start-time: -3600s    
end-time: 0s    
query-string:
  ```
  fields @timestamp, @message
| filter @requestId = '838d380d-4e28-48f6-97e1-ddc5c4dab8d9'
| sort @timestamp asc
| limit 10000
  ```
---
| @timestamp | @message |
| --- | --- |
| 2025-03-13 19:35:34.595 | START RequestId: 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 Version: $LATEST |
| 2025-03-13 19:35:34.596 | [INFO] 2025-03-13T19:35:34.596Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.chalice Received GET request for '/repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56', with {"query": {"catalog": "dcp46", "version": "2019-08-03T03:23:31.151555Z"}, "headers": {"accept": "*/*", "accept-encoding": "deflate, gzip", "cloudfront-forwarded-proto": "https", "cloudfront-is-desktop-viewer": "true", "cloudfront-is-mobile-viewer": "false", "cloudfront-is-smarttv-viewer": "false", "cloudfront-is-tablet-viewer": "false", "cloudfront-viewer-asn": "7922", "cloudfront-viewer-country": "US", "host": "service.azul.data.humancellatlas.org", "user-agent": "curl/8.7.1", "via": "2.0 922f380ce54182257be92d6c0111acb4.cloudfront.net (CloudFront)", "x-amz-cf-id": "KT4Z9bP9cNTZ03aGlymAw624zOEpeUKqmxtIBhXGRCKU4q8lFj9wvg==", "x-amzn-trace-id": "Root=1-67d33386-29c0973e1bbb631177b165cf", "x-forwarded-for": "73.189.51.68, 15.158.5.78", "x-forwarded-port": "443", "x-forwarded-proto": "https"}}. |
| 2025-03-13 19:35:34.596 | [INFO] 2025-03-13T19:35:34.596Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.chalice Did not authenticate request. |
| 2025-03-13 19:35:34.606 | [INFO] 2025-03-13T19:35:34.606Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.boto3 dynamodb.GetItem: Making POST request to https://dynamodb.us-east-1.amazonaws.com/ |
| 2025-03-13 19:35:34.606 | [INFO] 2025-03-13T19:35:34.606Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.boto3 dynamodb.GetItem: … with request body b'{"TableName": "azul-sources_cache_by_auth-prod", "Key": {"identity": {"S": "dcp46:"}}, "ProjectionExpression": "sources,expir...' |
| 2025-03-13 19:35:34.611 | [INFO] 2025-03-13T19:35:34.611Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.boto3 dynamodb.GetItem: Got 200 response |
| 2025-03-13 19:35:34.611 | [INFO] 2025-03-13T19:35:34.611Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.boto3 dynamodb.GetItem: … with response body b'{"Item":{"expiration":{"N":"1741894562"},"sources":{"S":"[\\"b1e0587c-4a90-464d-9f36-f47b486a180e\\", \\"1c224f75-2b9f-4856-b16e...' |
| 2025-03-13 19:35:34.614 | [INFO] 2025-03-13T19:35:34.614Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 elasticsearch Making POST request to https://vpc-azul-index-prod-mjluewlvxikvhillefxotw2tbm.us-east-1.es.amazonaws.com:443/azul_v2_prod_dcp46_files_aggregate/_search |
| 2025-03-13 19:35:34.614 | [INFO] 2025-03-13T19:35:34.614Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 elasticsearch … with request body b'{"query":{"bool":{"must":[{"constant_score":{"filter":{"terms":{"contents.files.uuid.keyword":["10b5aa79-0595-47c6-9871-31a91...' |
| 2025-03-13 19:35:34.628 | [INFO] 2025-03-13T19:35:34.628Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 elasticsearch Got 200 response after 0.013s from POST to https://vpc-azul-index-prod-mjluewlvxikvhillefxotw2tbm.us-east-1.es.amazonaws.com:443/azul_v2_prod_dcp46_files_aggregate/_search |
| 2025-03-13 19:35:34.628 | [INFO] 2025-03-13T19:35:34.628Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 elasticsearch … with response body '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"…' |
| 2025-03-13 19:35:34.630 | [INFO] 2025-03-13T19:35:34.630Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra Making GET request to 'https://data.terra.bio/ga4gh/drs/v1/objects/v1_9ed39fa0-d608-4523-91e6-085929becf0d_4bdb10bb-6d2c-4a15-93b4-5dec797c6fce' |
| 2025-03-13 19:35:34.630 | [DEBUG] 2025-03-13T19:35:34.630Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra … without request body |
| 2025-03-13 19:35:37.386 | [INFO] 2025-03-13T19:35:37.386Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra Got 200 response after 2.756s from GET to https://data.terra.bio/ga4gh/drs/v1/objects/v1_9ed39fa0-d608-4523-91e6-085929becf0d_4bdb10bb-6d2c-4a15-93b4-5dec797c6fce |
| 2025-03-13 19:35:37.386 | [DEBUG] 2025-03-13T19:35:37.386Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra … with response headers HTTPHeaderDict({'Date': 'Thu, 13 Mar 2025 19:35:37 GMT', 'Server': 'Apache', 'X-Frame-Options': 'SAMEORIGIN', 'Access-Control-Allow-Headers': 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,Accept,Referer,X-App-Id,Origin', 'Access-Control-Allow-Methods': 'GET,POST,DELETE,PUT,PATCH,OPTIONS,HEAD', 'X-Content-Type-Options': 'nosniff', 'Strict-Transport-Security': 'max-age=31536000;includeSubDomains', 'Cache-Control': 'no-cache,no-store,must-revalidate', 'X-Request-ID': 'axRPnKvY', 'Content-Type': 'application/json', 'Content-Length': '2528', 'Vary': 'Origin', 'Via': '1.1 google', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000'}) |
| 2025-03-13 19:35:37.387 | [DEBUG] 2025-03-13T19:35:37.386Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra … with response body b'{"id":"v1_9ed39fa0-d608-4523-91e6-085929becf0d_4bdb10bb-6d2c-4a15-93b4-5dec797c6fce","name":"SRR6598472_1.fastq.gz","self_uri...' |
| 2025-03-13 19:35:37.387 | [INFO] 2025-03-13T19:35:37.387Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra Making GET request to 'https://data.terra.bio/ga4gh/drs/v1/objects/v1_9ed39fa0-d608-4523-91e6-085929becf0d_4bdb10bb-6d2c-4a15-93b4-5dec797c6fce/access/gcp-us-east4*9ed39fa0-d608-4523-91e6-085929becf0d' |
| 2025-03-13 19:35:37.387 | [DEBUG] 2025-03-13T19:35:37.387Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra … without request body |
| 2025-03-13 19:35:39.496 | [INFO] 2025-03-13T19:35:39.496Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra Got 200 response after 2.108s from GET to https://data.terra.bio/ga4gh/drs/v1/objects/v1_9ed39fa0-d608-4523-91e6-085929becf0d_4bdb10bb-6d2c-4a15-93b4-5dec797c6fce/access/gcp-us-east4*9ed39fa0-d608-4523-91e6-085929becf0d |
| 2025-03-13 19:35:39.496 | [DEBUG] 2025-03-13T19:35:39.496Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra … with response headers HTTPHeaderDict({'Date': 'Thu, 13 Mar 2025 19:35:39 GMT', 'Server': 'Apache', 'X-Frame-Options': 'SAMEORIGIN', 'Access-Control-Allow-Headers': 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,Accept,Referer,X-App-Id,Origin', 'Access-Control-Allow-Methods': 'GET,POST,DELETE,PUT,PATCH,OPTIONS,HEAD', 'X-Content-Type-Options': 'nosniff', 'Strict-Transport-Security': 'max-age=31536000;includeSubDomains', 'Cache-Control': 'no-cache,no-store,must-revalidate', 'X-Request-ID': '6z3WZmV2', 'Content-Type': 'application/json', 'Content-Length': '1056', 'Vary': 'Origin', 'Via': '1.1 google', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000'}) |
| 2025-03-13 19:35:39.496 | [DEBUG] 2025-03-13T19:35:39.496Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.terra … with response body b'{"url":"https://storage.googleapis.com/datarepo-6c732a77-bucket/b50ae138-2add-4ad7-bd51-9c61e6be7124/4bdb10bb-6d2c-4a15-93b4-...' |
| 2025-03-13 19:35:39.497 | [INFO] 2025-03-13T19:35:39.497Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.service.repository_controller Download of file {"file_name": "SRR6598472_1.fastq.gz", "file_uuid": "10b5aa79-0595-47c6-9871-31a9151a8d56", "file_version": "2019-08-03T03:23:31.151555Z", "file_size": 816612, "catalog": "dcp46", "fetch": false, "range": null, "host": "service.azul.data.humancellatlas.org", "user-agent": "curl/8.7.1", "x-forwarded-for": "73.189.51.68, 15.158.5.78"} |
| 2025-03-13 19:35:39.498 | [DEBUG] 2025-03-13T19:35:39.498Z 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 azul.chalice Returning 302 response with headers {"Location": "https://storage.googleapis.com/datarepo-6c732a77-bucket/b50ae138-2add-4ad7-bd51-9c61e6be7124/4bdb10bb-6d2c-4a15-93b4-5dec797c6fce/SRR6598472_1.fastq.gz?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=datarepo-jade-api%40terra-datarepo-production.iam.gserviceaccount.com%2F20250313%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250313T193539Z&X-Goog-Expires=900&X-Goog-SignedHeaders=host&requestedBy=azul-ucsc-0-public-prod%40platform-hca-prod.iam.gserviceaccount.com&userProject=datarepo-4f8a62b5&X-Goog-Signature=44f3add4<REDACTED>", "Access-Control-Allow-Origin": "*", "Access-Control-Allow-Headers": "Authorization,Content-Type,X-Amz-Date,X-Amz-Security-Token,X-Api-Key", "Content-Security-Policy": "default-src 'self';img-src 'self' data:;script-src 'self';style-src 'self';frame-ancestors 'none'", "Referrer-Policy": "strict-origin-when-cross-origin", "Strict-Transport-Security": "max-age=63072000; includeSubDomains; preload", "X-Content-Type-Options": "nosniff", "X-Frame-Options": "DENY", "X-XSS-Protection": "1; mode=block", "Cache-Control": "no-store"}. See next line for the first 1024 characters of the body. |
| 2025-03-13 19:35:39.499 | END RequestId: 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 |
| 2025-03-13 19:35:39.499 | REPORT RequestId: 838d380d-4e28-48f6-97e1-ddc5c4dab8d9 Duration: 4904.13 ms Billed Duration: 4905 ms Memory Size: 2048 MB Max Memory Used: 218 MB |
---

Logs from step 2:

**CloudWatch Logs Insights**    
region: us-east-1    
log-group-names: /aws/lambda/azul-service-prod    
start-time: -3600s    
end-time: 0s    
query-string:
  ```
  fields @timestamp, @message
| filter @requestId = '6a13185e-e47a-4df7-8803-323d9abeab75'
| sort @timestamp asc
| limit 10000
  ```
---
| @timestamp | @message |
| --- | --- |
| 2025-03-13 19:35:46.116 | START RequestId: 6a13185e-e47a-4df7-8803-323d9abeab75 Version: $LATEST |
| 2025-03-13 19:35:46.116 | [INFO] 2025-03-13T19:35:46.116Z 6a13185e-e47a-4df7-8803-323d9abeab75 azul.chalice Received GET request for '/repository/files/10b5aa79-0595-47c6-9871-31a9151a8d56', with {"query": {"catalog": "dcp46", "version": "2019-08-03T03:23:31.151555Z"}, "headers": {"accept": "*/*", "accept-encoding": "deflate, gzip", "cloudfront-forwarded-proto": "https", "cloudfront-is-desktop-viewer": "true", "cloudfront-is-mobile-viewer": "false", "cloudfront-is-smarttv-viewer": "false", "cloudfront-is-tablet-viewer": "false", "cloudfront-viewer-asn": "7922", "cloudfront-viewer-country": "US", "host": "service.azul.data.humancellatlas.org", "range": "bytes=816612-", "user-agent": "curl/8.7.1", "via": "2.0 8effee3aa40a71b9ac0a963e0f02b7e0.cloudfront.net (CloudFront)", "x-amz-cf-id": "Zt28zlKDDhHSfByboc5kuvt0IUhNJxK9_DYRfLolPmPPR5x5py3soA==", "x-amzn-trace-id": "Root=1-67d33392-67e054f45811947e25ce2007", "x-forwarded-for": "73.189.51.68, 15.158.5.111", "x-forwarded-port": "443", "x-forwarded-proto": "https"}}. |
| 2025-03-13 19:35:46.116 | [INFO] 2025-03-13T19:35:46.116Z 6a13185e-e47a-4df7-8803-323d9abeab75 azul.chalice Did not authenticate request. |
| 2025-03-13 19:35:46.117 | [INFO] 2025-03-13T19:35:46.117Z 6a13185e-e47a-4df7-8803-323d9abeab75 azul.boto3 dynamodb.GetItem: Making POST request to https://dynamodb.us-east-1.amazonaws.com/ |
| 2025-03-13 19:35:46.118 | [INFO] 2025-03-13T19:35:46.118Z 6a13185e-e47a-4df7-8803-323d9abeab75 azul.boto3 dynamodb.GetItem: … with request body b'{"TableName": "azul-sources_cache_by_auth-prod", "Key": {"identity": {"S": "dcp46:"}}, "ProjectionExpression": "sources,expir...' |
| 2025-03-13 19:35:46.124 | [INFO] 2025-03-13T19:35:46.124Z 6a13185e-e47a-4df7-8803-323d9abeab75 azul.boto3 dynamodb.GetItem: Got 200 response |
| 2025-03-13 19:35:46.124 | [INFO] 2025-03-13T19:35:46.124Z 6a13185e-e47a-4df7-8803-323d9abeab75 azul.boto3 dynamodb.GetItem: … with response body b'{"Item":{"expiration":{"N":"1741894562"},"sources":{"S":"[\\"b1e0587c-4a90-464d-9f36-f47b486a180e\\", \\"1c224f75-2b9f-4856-b16e...' |
| 2025-03-13 19:35:46.128 | [INFO] 2025-03-13T19:35:46.128Z 6a13185e-e47a-4df7-8803-323d9abeab75 elasticsearch Making POST request to https://vpc-azul-index-prod-mjluewlvxikvhillefxotw2tbm.us-east-1.es.amazonaws.com:443/azul_v2_prod_dcp46_files_aggregate/_search |
| 2025-03-13 19:35:46.128 | [INFO] 2025-03-13T19:35:46.128Z 6a13185e-e47a-4df7-8803-323d9abeab75 elasticsearch … with request body b'{"query":{"bool":{"must":[{"constant_score":{"filter":{"terms":{"contents.files.uuid.keyword":["10b5aa79-0595-47c6-9871-31a91...' |
| 2025-03-13 19:35:46.141 | [INFO] 2025-03-13T19:35:46.141Z 6a13185e-e47a-4df7-8803-323d9abeab75 elasticsearch Got 200 response after 0.013s from POST to https://vpc-azul-index-prod-mjluewlvxikvhillefxotw2tbm.us-east-1.es.amazonaws.com:443/azul_v2_prod_dcp46_files_aggregate/_search |
| 2025-03-13 19:35:46.141 | [INFO] 2025-03-13T19:35:46.141Z 6a13185e-e47a-4df7-8803-323d9abeab75 elasticsearch … with response body '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"…' |
| 2025-03-13 19:35:46.143 | [DEBUG] 2025-03-13T19:35:46.143Z 6a13185e-e47a-4df7-8803-323d9abeab75 azul.chalice Returning 206 response with headers {"Content-Length": "0", "Access-Control-Allow-Origin": "*", "Access-Control-Allow-Headers": "Authorization,Content-Type,X-Amz-Date,X-Amz-Security-Token,X-Api-Key", "Content-Security-Policy": "default-src 'self';img-src 'self' data:;script-src 'self';style-src 'self';frame-ancestors 'none'", "Referrer-Policy": "strict-origin-when-cross-origin", "Strict-Transport-Security": "max-age=63072000; includeSubDomains; preload", "X-Content-Type-Options": "nosniff", "X-Frame-Options": "DENY", "X-XSS-Protection": "1; mode=block", "Cache-Control": "no-store"}. See next line for the first 1024 characters of the body. |
| 2025-03-13 19:35:46.144 | END RequestId: 6a13185e-e47a-4df7-8803-323d9abeab75 |
| 2025-03-13 19:35:46.144 | REPORT RequestId: 6a13185e-e47a-4df7-8803-323d9abeab75 Duration: 28.56 ms Billed Duration: 29 ms Memory Size: 2048 MB Max Memory Used: 218 MB |
---



Spike to diagnose.

Currently, Azul returns a 206, without a `Content-Range` header, for file download requests that have a request header `Range` indicating that the requested file has already download completely.

The following test results for resuming an already completed download were obtained using various versions of `curl`, with and without the addition of the `Content-Range` header. Use of the `Content-Range` header is recommended by [RFC7233 Section 4.4](https://datatracker.ietf.org/doc/html/rfc7233#section-4.4)

![Image](https://github.com/user-attachments/assets/b19a8ceb-0332-4a8d-ac2a-8de07217df1a)

Based on these results, we have a few options:

## Option A
Continue to not return a `Content-Range` header, and conditionally return a 206 or 416 based if the User-Agent indicates `curl` of a certain version (e.g. 206 if curl and curl < 7.76.0 else 416)

## Option B
Continue to return a 206, and add a `Content-Range` header to all these responses.

```diff
Index: src/azul/service/repository_controller.py
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
diff --git a/src/azul/service/repository_controller.py b/src/azul/service/repository_controller.py
--- a/src/azul/service/repository_controller.py (revision 4736b40c4fe1fa4648221fa4c5cba345f56489b3)
+++ b/src/azul/service/repository_controller.py (date 1744843079724)
@@ -232,7 +232,8 @@
             if requested_range == [(file_size, None)]:
                 return {
                     'Status': 206,
-                    'Content-Length': 0
+                    'Content-Length': 0,
+                    'Content-Range': f'bytes */{file_size}'
                 }
 
         download = download_cls(file_uuid=file_uuid,
```

## Option C
Conditionally return a 206 or 416 based on the User-Agent, and add a `Content-Range` header to all these responses.

```diff
Index: src/azul/service/repository_controller.py
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
diff --git a/src/azul/service/repository_controller.py b/src/azul/service/repository_controller.py
--- a/src/azul/service/repository_controller.py (revision 7269b4d167b3418177bd959b7da6e9e756fd31e4)
+++ b/src/azul/service/repository_controller.py (date 1744843289893)
@@ -4,6 +4,7 @@
 )
 import json
 import logging
+import re
 import time
 from typing import (
     Optional,
@@ -178,6 +179,13 @@
             raise BadRequestError(f'Invalid range specifier {range_specifier!r}') from e
         return parsed_ranges
 
+    def _range_complete_return_status(self, user_agent: str) -> int:
+        if m := re.match(r'curl/(\d+)\.(\d+)\.(\d+)', user_agent):
+            curl_version = tuple(int(x) for x in m.groups())
+            return 206 if curl_version < (8, 5, 0) else 416
+        else:
+            return 416
+
     def download_file(self,
                       catalog: CatalogName,
                       fetch: bool,
@@ -231,8 +239,9 @@
             requested_range = self._parse_range_request_header(range_specifier)
             if requested_range == [(file_size, None)]:
                 return {
-                    'Status': 206,
-                    'Content-Length': 0
+                    'Status': self._range_complete_return_status(headers.get('user-agent', '')),
+                    'Content-Length': 0,
+                    'Content-Range': f'bytes */{file_size}'
                 }
 
         download = download_cls(file_uuid=file_uuid,
```

@hannes-ucsc: "Agreed to go with option B, even though it would be a deviation from our prior stance that 416 is the right response when the requested range is `{length-of-file}-`. This is trumped, however, by the fact that returning a 206 with a Content-Range response header in that case is handled correctly by all curl versions."

### Security design review

- [x] Security design review completed; this PR does **not** …
  - [x] … affect authentication; for example:
    - OAuth 2.0 with the application (API or Swagger UI)
    - Authentication of developers with Google Cloud APIs
    - Authentication of developers with AWS APIs
    - Authentication with a GitLab instance in the system
    - Password and 2FA authentication with GitHub
    - API access token authentication with GitHub
    - Authentication with Terra 
  - [x] … affect the permissions of internal users like access to
    - Cloud resources on AWS and GCP
    - GitLab repositories, projects and groups, administration
    - an EC2 instance via SSH
    - GitHub issues, pull requests, commits, commit statuses, wikis, repositories, organizations
  - [x] … affect the permissions of external users like access to
    - TDR snapshots
  - [x] … affect permissions of service or bot accounts
    - Cloud resources on AWS and GCP
  - [x] … affect audit logging in the system, like
    - adding, removing or changing a log message that represents an auditable event
    - changing the routing of log messages through the system
  - [x] … affect monitoring of the system
  - [x] … introduce a new software dependency like
    - Python packages on PYPI
    - Command-line utilities
    - Docker images
    - Terraform providers
  - [x] … add an interface that exposes sensitive or confidential data at the security boundary
  - [x] … affect the encryption of data at rest
  - [x] … require persistence of sensitive or confidential data that might require encryption at rest
  - [x] … require unencrypted transmission of data within the security boundary
  - [x] … affect the network security layer; for example by 
    - modifying, adding or removing firewall rules
    - modifying, adding or removing security groups
    - changing or adding a port a service, proxy or load balancer listens on
- [x] Documentation on any unchecked boxes is provided in comments below


For demo, attempt to reproduce.